#game-title {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0 0;
}

#game-rules {
  padding-left: 250px;
}

#game-play {
  padding-left: 250px;
}

#players-score {
  float: right;
  padding-right: 100px;
}

#computers-score {
  float: right;
  padding-right: 100px;
}

#reset-game {
  float: right;
  padding-top: 150px;
}

#scorecard {
  padding-left: 1050px;
}

.rule-list {
  padding-left: 256px;
}

.game-icons {
  padding-left: 250px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #d3d3d333;
}

#result-description {
  font-size: x-large;
}
